<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
    <h1>Products</h1>

    <ul>
        {% for p in products %}
        <li>{{ p.id }}. {{ p.title }} <br>price :{{ p.price }}</li>
        <a href="{{ url_for('edit_product', product_id=p.id) }}">Edit Product</a>
        <br>
        <a href="{{ url_for('delete_product', product_id=p.id) }}">Delete Product</a>
        {% endfor %}

    </ul>
      <a href="{{ url_for('add_product')}}">
        <button type="submit">add Product</button>
    </a>
    <br>
    <h1>Categories </h1>

    <ul>
        {% for c in categories %}
        <li>{{ c.id }}. {{ c.title }}</li>
        <a href="{{ url_for('edit_category', category_id=c.id) }}">Edit Category</a>
        <br>
        <a href="{{ url_for('delete_category', category_id=c.id) }}">Delete Category</a>
        {% endfor %}
    </ul>
    <a href="{{ url_for('add_category')}}">
        <button type="submit">add Category</button>
    </a>


</head>
<body>

</body>
</html>